@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300&family=Lobster&family=Montserrat:ital,wght@0,200;0,600;1,200&display=swap");
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.nav-bar .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato';
}

.nav-bar .options img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.nav-bar a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 150px;
  width: 100px;
  margin: 5px 5px;
  background-color: black;
  -webkit-box-shadow: 1px -2px 1px #d6d2d2;
          box-shadow: 1px -2px 1px #d6d2d2;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}

.nav-bar a:hover {
  color: #93f186;
}

.nav-bar a::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 120%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f763fc), to(#d9f103));
  background: linear-gradient(#f763fc, #d9f103);
  -webkit-animation: border-light 9s linear infinite;
          animation: border-light 9s linear infinite;
  z-index: -1;
}

.nav-bar a::after {
  content: '';
  position: absolute;
  background: black;
  inset: 0.3px;
  z-index: -1;
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
  .nav-bar a {
    top: 70px;
    height: 100px;
    width: 60px;
    font-size: 12px;
  }
  .nav-bar img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}

#container2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  width: 270px;
  z-index: -1;
  padding: 30px;
  -webkit-box-shadow: 1px -2px 1px #d6d2d2;
          box-shadow: 1px -2px 1px #d6d2d2;
  border-radius: 20px;
  background-color: black;
  margin-left: 30px;
  overflow: hidden;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#container2 h2 {
  color: #93f186;
  padding-bottom: 30px;
  z-index: 1;
}

#container2 form {
  color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

#container2 form input {
  width: 100%;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

#container2 form textarea {
  width: 100%;
  margin: 5px 0;
  height: 120px;
  padding: 10px;
}

#container2 form button {
  cursor: pointer;
  background: #93f186;
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

#container2::before {
  content: '';
  position: absolute;
  width: 180px;
  height: 120%;
  background: #93f186;
  -webkit-animation: border-light 10s linear infinite;
          animation: border-light 10s linear infinite;
}

#container2::after {
  content: '';
  position: absolute;
  background: black;
  inset: 1px;
  border-radius: 20px;
}

@-webkit-keyframes border-light {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes border-light {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    z-index: 0;
    -webkit-transform: translate(350px) rotateX(30deg) translateY(180px) scale(1.5);
            transform: translate(350px) rotateX(30deg) translateY(180px) scale(1.5);
  }
}

@keyframes move {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    z-index: 0;
    -webkit-transform: translate(350px) rotateX(30deg) translateY(180px) scale(1.5);
            transform: translate(350px) rotateX(30deg) translateY(180px) scale(1.5);
  }
}

@-webkit-keyframes moveback {
  from {
    -webkit-transform: translate(350px) rotateX(30deg) translateY(180px) scale(1.5);
            transform: translate(350px) rotateX(30deg) translateY(180px) scale(1.5);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveback {
  from {
    -webkit-transform: translate(350px) rotateX(30deg) translateY(180px) scale(1.5);
            transform: translate(350px) rotateX(30deg) translateY(180px) scale(1.5);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media only screen and (max-width: 1024px) {
  #container2 {
    top: 20px;
    height: 300px;
    width: 170px;
  }
  #container2 p {
    font-size: 0.7rem;
  }
  #container2 form input {
    padding: 5px;
    font-size: .7em;
  }
  #container2 form textarea {
    font-size: .7em;
    height: 50px;
    padding: 5px;
  }
  #container2 form button {
    width: 100%;
    margin-top: 0;
    padding: 2px;
    font-size: .7em;
  }
  #container2 h2 {
    font-size: 18px;
    padding-bottom: 0;
  }
  @-webkit-keyframes move {
    from {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    to {
      -webkit-transform: translateX(100px) translateY(255px) scale(1.2);
              transform: translateX(100px) translateY(255px) scale(1.2);
      z-index: 0;
    }
  }
  @keyframes move {
    from {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    to {
      -webkit-transform: translateX(100px) translateY(255px) scale(1.2);
              transform: translateX(100px) translateY(255px) scale(1.2);
      z-index: 0;
    }
  }
  @-webkit-keyframes moveback {
    from {
      -webkit-transform: translateX(100px) translateY(255px) scale(1.2);
              transform: translateX(100px) translateY(255px) scale(1.2);
    }
    to {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes moveback {
    from {
      -webkit-transform: translateX(100px) translateY(255px) scale(1.2);
              transform: translateX(100px) translateY(255px) scale(1.2);
    }
    to {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
}

#container3 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  width: 270px;
  z-index: -2;
  padding: 15px;
  -webkit-box-shadow: 1px -2px 1px #d6d2d2;
          box-shadow: 1px -2px 1px #d6d2d2;
  border-radius: 20px;
  background-color: black;
  overflow: hidden;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#container3 .projects-grid {
  height: 80%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: .3em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 2;
}

#container3 .projects-grid div {
  height: 150px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container3 .projects-grid .one {
  background: yellow;
  border-radius: 5px;
  cursor: pointer;
}

#container3 .projects-grid .two {
  background: blue;
  border-radius: 5px;
  cursor: pointer;
}

#container3 .projects-grid .three {
  background: green;
  border-radius: 5px;
  cursor: pointer;
}

#container3 .projects-grid .four {
  background: tomato;
  border-radius: 5px;
  cursor: pointer;
}

#container3 h2 {
  z-index: 1;
  color: #93f186;
}

#container3 p {
  z-index: 1;
  color: white;
}

#container3::before {
  content: '';
  position: absolute;
  width: 180px;
  height: 120%;
  background: #93f186;
  -webkit-animation: border-light 10s linear infinite;
          animation: border-light 10s linear infinite;
}

#container3::after {
  content: '';
  position: absolute;
  background: black;
  inset: 1px;
  border-radius: 20px;
}

@keyframes border-light {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes container {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    z-index: 2;
    -webkit-transform: translate(-382px) rotateX(30deg) translateY(180px) scale(1.5);
            transform: translate(-382px) rotateX(30deg) translateY(180px) scale(1.5);
  }
}

@keyframes container {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    z-index: 2;
    -webkit-transform: translate(-382px) rotateX(30deg) translateY(180px) scale(1.5);
            transform: translate(-382px) rotateX(30deg) translateY(180px) scale(1.5);
  }
}

@-webkit-keyframes containerback {
  from {
    -webkit-transform: translate(-382px) rotateX(30deg) translateY(180px) scale(1.5);
            transform: translate(-382px) rotateX(30deg) translateY(180px) scale(1.5);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes containerback {
  from {
    -webkit-transform: translate(-382px) rotateX(30deg) translateY(180px) scale(1.5);
            transform: translate(-382px) rotateX(30deg) translateY(180px) scale(1.5);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media only screen and (max-width: 1024px) {
  #container3 {
    top: 20px;
    height: 300px;
    width: 170px;
  }
  #container3 .projects-grid {
    padding-top: 10px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #container3 .projects-grid div {
    height: 50px;
    width: 100%;
    font-size: .7em;
  }
  #container3 h2 {
    font-size: 18px;
  }
  @-webkit-keyframes container {
    from {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    to {
      z-index: 0;
      -webkit-transform: translateX(-100px) translateY(255px) scale(1.2);
              transform: translateX(-100px) translateY(255px) scale(1.2);
    }
  }
  @keyframes container {
    from {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    to {
      z-index: 0;
      -webkit-transform: translateX(-100px) translateY(255px) scale(1.2);
              transform: translateX(-100px) translateY(255px) scale(1.2);
    }
  }
  @-webkit-keyframes containerback {
    from {
      -webkit-transform: translateX(-100px) translateY(240px) scale(1.2);
              transform: translateX(-100px) translateY(240px) scale(1.2);
    }
    to {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes containerback {
    from {
      -webkit-transform: translateX(-100px) translateY(240px) scale(1.2);
              transform: translateX(-100px) translateY(240px) scale(1.2);
    }
    to {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1b1a1a;
}

.main-container {
  height: 70vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.main-container .container1 {
  position: absolute;
  height: 500px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 1px -2px 1px #d6d2d2;
          box-shadow: 1px -2px 1px #d6d2d2;
  border-radius: 20px;
  overflow: hidden;
}

.main-container .container1::before {
  content: '';
  position: absolute;
  width: 180px;
  height: 120%;
  background: #93f186;
  -webkit-animation: border-light 10s linear infinite;
          animation: border-light 10s linear infinite;
}

.main-container .container1::after {
  content: '';
  position: absolute;
  background: black;
  inset: 0.5px;
  border-radius: 20px;
}

.main-container .container1 h1 {
  position: relative;
  width: 100%;
  font-size: 80px;
  color: white;
  z-index: 10;
}

.main-container .container1 h1 span {
  position: relative;
  color: white;
  position: relative;
  -webkit-text-stroke: 0.1 0.5rem #3f3b3b;
}

.main-container .container1 h1 span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #93f186;
  overflow: hidden;
  -webkit-text-stroke: 0 #3f3b3b;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}

.main-container .container1 p {
  position: relative;
  z-index: 10;
  font-size: 2rem;
  color: white;
}

.main-container .container1 p span {
  position: relative;
  z-index: 10;
}

.main-container .container1 p span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #93f186;
  overflow: hidden;
  -webkit-text-stroke: 0 #3f3b3b;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
  }
}

@keyframes animate {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
  }
}

@keyframes border-light {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  .main-container .container1 {
    top: 20px;
    height: 300px;
    width: 200px;
  }
  .main-container .container1 h1 {
    font-size: 35px;
  }
  .main-container .container1 p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */